@import 'vars';

.section.container{
	background-color: $white;
	padding:0;
	.row{
		height:100%;
		.col{
			height:100%;
			display:flex;
			flex-direction: column;
			justify-content:center;
		}
	}
}
.icon-left{
	font-size:25rem;
}