doctype html
html
  head
    title= "UWLaunchpad"
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/vendor/fullPage/jquery.fullpage.min.css')
    link(rel='stylesheet', href='/css/materialize.min.css')
    link(rel='stylesheet', href='/css/ionicons.min.css')
    script(src='/vendor/jquery-3.2.1.min.js')
    script(src='/vendor/fullPage/jquery.fullpage.min.js')
    script(src='/js/materialize.min.js')
    script(src='/js/app.js')
  body
    block content

