doctype html
html
  head
    title= "UWLaunchpad"
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/vendor/fullPage/fullPage.css')
    script(src='/vendor/fullPage/fullPage.min.js')
    script(src='/js/app.js')
  body
    block content

